#links {
  height: 100%;
}

.card-icon {
  font-size: 3em;
}

.card-title {
  margin: auto;
  text-align: center;
  font-size: 3em;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  .card-icon {
    font-size: 1.5em;
  }

  .card-title {
    font-size: 1.5em;
  }
}