/**
* This file contains most of the classes used throughout all the views and on the index page
*/

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color:#EDEDED;
  font-family: "Roboto", "Gill Sans", sans-serif;
  color: #2B2B2B;
}

/* Overwrite PureCSS's default font */
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: "Roboto", "Gill Sans", sans-serif;
    color: #2B2B2B;
}

/* For layout purposes */
.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.max-height {
  height: 100%;
}

.one-third-height {
  height: 33.33%;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

/* The two below need to add up to 100% so the page doesn't scroll awkwardly */
#content-wrapper {
  height: 85%;
  line-height: 1.3em;
  text-align: justify;
  font-size: 1.5em;
  overflow: auto;
  max-width: 1024px;
  border-left: 1px solid #2B2B2B;
  border-right: 1px solid #2B2B2B;
  margin: auto;
}

#tab-panels {
  height: 15%;
  background-color: #2B2B2B;
  cursor: pointer;
}

#tab-panels div {
  height: 100%;
  color: #EDEDED;
}

.tab-icon {
  font-size: 2.5em;
}

.tab-title {
  font-size: 1.8em;
  font-weight: 300;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.flex-center > * {
  margin: auto;
}

.inner-pad-space {
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .tab-icon {
    font-size: 1.5em;
  }

  .tab-title {
    font-size: 1em;
  }
}