body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color:#EDEDED;    
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: "Roboto", "Gill Sans", sans-serif;
    color: #2B2B2B;
}

.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#container {
  height: 100%;
}

.one-third-height {
  height: 33.33%;
}

.card {
  height: 100%;
  text-align: center;
  padding: 1em;
  outline: 1px solid #AAA;
  display: block;
  transition: all 0.6s ease-out;
}

.card > * {
  display: block;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-title {
  font-size: 1.8em;
  font-weight: 300;
  margin-top: 10px;
}

.big-icon {
  font-size: 4.5em;
}

.md-icon {
  font-size: 2.5em;
}

.card:hover {
  color: #EDEDED;
  background-color: #2B2B2B;
}

.center-both {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#dock-control-container {
  outline: 1px solid red;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 568px;
  height: 80px;
}

#dock-control-container * {
  outline: 1px solid red;
  display: inline-block;
}


