/**
* height 100% is necessary for the elements to be vertically centered
**/
#tab-panels div {
  height: 100%;
  color: #EDEDED;
}

.tab-icon {
  font-size: 2em;
}

.tab-title {
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  .tab-icon {
    font-size: 1.5em;
  }

  .tab-title {
    font-size: 1em;
    margin-top: 10px;
  }
}