<div id="about-me-banner">
  <img class="pure-img" src="/img/profile.png" alt="Hugh Wu, the man himself, with what appears to be Central Park in the background">
</div>

<div id="hugh-metadata">
  <span><i class="fas fa-id-card"></i> Hugh Wu</span>
  <span><i class="fas fa-map-marker"></i> Gainesville, FL</span>
  <span><i class="fas fa-graduation-cap"></i> University of Florida 2019</span>
</div>

<div class="pad-space">
  <p>
    Hello! I am currently a Computer Engineering student at the University of Florida.
    I love playing games of all kinds, biking, and building stuff. I've been programming for about
    three years now, starting with the beloved Hello, World to this website and beyond.
  </p>

  <p>
    Currently I've been doing a lot of backend development - routing requests, writing services to handle the requests,
    and working with databases.
  </p>

  <p>
    Feel free to look around the page, send me a message, or break the site.
  </p>

  <p>
    Also if you know who owns the domain hughwu.com, tell them I am open to buying that name.
    My current offer is 3 (three) FlexBucks but we can also barter.
  </p>

  <!-- <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nesciunt adipisci neque! Obcaecati quaerat omnis nostrum magnam necessitatibus animi inventore nisi voluptate, consectetur odit, earum aut quis harum dolore ex?
  </p>

  <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nesciunt adipisci neque! Obcaecati quaerat omnis nostrum magnam necessitatibus animi inventore nisi voluptate, consectetur odit, earum aut quis harum dolore ex?
    </p> -->
</div>