<div>
  <h1 class="text-align-center">Languages</h1>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-lg-1-2">
      <h2 class="text-align-center">Familiar</h2>
      <ul class="flex-center flex-wrap">
        <li>
          <div class="flex-center flex-direction-column">
            <i class="devicon-java-plain big-icon flex-center"></i>
            <span class="mt-5">Java</span>
          </div>
        </li>

        <li>
          <div class="flex-center flex-direction-column">
            <i class="devicon-html5-plain big-icon flex-center"></i>
            <span class="mt-5">HTML</span>
          </div>
        </li>

        <li>
          <div class="flex-center flex-direction-column">
            <i class="devicon-css3-plain big-icon flex-center"></i>
            <span class="mt-5">CSS</span>
          </div>
        </li>

        <li>
          <div class="flex-center flex-direction-column">
            <i class="devicon-javascript-plain big-icon flex-center"></i>
            <span class="mt-5">JavaScript</span>
          </div>
        </li>

        <li>
          <div class="flex-center flex-direction-column">
            <i class="fas fa-database big-icon flex-center"></i>
            <span class="mt-5">SQL</span>
          </div>
        </li>
      </ul>
    </div>

    <div class="pure-u-1 pure-u-lg-1-2">
      <h2 class="text-align-center">Somewhat Familiar</h2>
      <ul class="flex-center flex-wrap">
        <li>
          <div class="flex-center flex-direction-column">
            <i class="devicon-cplusplus-plain big-icon flex-center"></i>
            <span class="mt-5">C++</span>
          </div>
        </li>

        <li>
          <div class="flex-center flex-direction-column">
            <i class="devicon-c-plain big-icon flex-center"></i>
            <span class="mt-5">C</span>
          </div>
        </li>

        <li>
          <div class="flex-center flex-direction-column">
            <i class="devicon-python-plain big-icon flex-center"></i>
            <span class="mt-5">Python</span>
          </div>
        </li>

        <li>
          <div class="flex-center flex-direction-column">
            <i class="fas fa-terminal big-icon flex-center"></i>
            <span class="mt-5">Bash</span>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <h1 class="text-align-center">Technologies</h1>
  <div class="pure-g">
    <div class="pure-u-1">
      <ul id="test-flex">
        <li>Spring Boot</li>
        <li>JDBC</li>
        <li>OracleDB</li>
        <li>Cassandra</li>
        <li>JUnit</li>
        <li>Node.js</li>
        <li>Express.js</li>
        <li>jQuery</li>
      </ul>
    </div>
  </div>

  <h1 class="text-align-center">Tools</h1>
  <div>
    <ul>
      <li>Git</li>
      <li>Maven</li>
      <li>Postman</li>
    </ul>
  </div>
</div>