<div class="pure-g one-third-height">
  <div class="pure-u-sm-1-2 flex-center max-height">
    <a href="https://github.com/wuhugh" target="_blank">
      <div class="card">
        <i class="fab fa-github-square card-icon"></i>
        <span class="card-title">
          Github
        </span>
      </div>
    </a>
  </div>

  <div class="pure-u-sm-1-2 flex-center max-height">
    <a href="https://linkedin.com/in/wuhugh" target="_blank">
      <div class="card">
        <i class="fab fa-linkedin card-icon"></i>
        <span class="card-title">
          LinkedIn
        </span>
      </div>
    </a>
  </div>
</div>

<div class="pure-g one-third-height">
  <div class="pure-u-sm-1-2 flex-center max-height">
    <a href="/files/HughWu_Resume.pdf" target="_blank">
      <div class="card">
        <i class="fas fa-file card-icon"></i>
        <span class="card-title">
          Resume
        </span>
      </div>
    </a>
  </div>

  <div class="pure-u-sm-1-2 flex-center max-height">
    <a href="mailto:hugh.j.wu@gmail.com" target="_blank">
      <div class="card">
        <i class="fas fa-envelope-square card-icon"></i>
        <span class="card-title">
          Email
        </span>
      </div>
    </a>
  </div>
</div>