<div class="pure-g one-third-height">
  <div class="pure-u-1-2 flex-center max-height">
    <!-- I have no idea why the flex direction has to be set to column for each link
         On the links view, there is six squares on the grid and the icon and text
         wouldn't vertical align unless I set the flex direction to be column -->
    <div class="flex-center flex-direction-column">
      <a href="https://github.com/wuhugh" target="_blank">
        <i class="fab fa-github-square card-icon"></i>
        <span class="card-title">Github</span>
      </a>
    </div>
  </div>

  <div class="pure-u-1-2 flex-center max-height">
    <!-- See comment block at the top -->
    <div class="flex-center flex-direction-column">
      <a href="https://linkedin.com/in/wuhugh" target="_blank">
        <i class="fab fa-linkedin card-icon"></i>
        <span class="card-title">LinkedIn</span>
      </a>
    </div>
  </div>
</div>

<div class="pure-g one-third-height">
  <div class="pure-u-1-2 flex-center max-height">
    <!-- See comment block at the top -->
    <div class="flex-center flex-direction-column">
      <a href="/files/HughWu_Resume.pdf" target="_blank">
        <i class="fas fa-file card-icon"></i>
        <span class="card-title">Resume</span>
      </a>
    </div>
  </div>

  <div class="pure-u-1-2 flex-center max-height">
    <!-- See comment block at the top -->
    <div class="flex-center flex-direction-column">
      <a href="mailto:hugh.j.wu@gmail.com" target="_blank">
        <i class="fas fa-envelope-square card-icon"></i>
        <span class="card-title">Email</span>
      </a>
    </div>
  </div>
</div>